In [33]:
import numpy as np 
import scipy.stats as stat
import pandas as pd

In [ ]:
Q1. What are the three measures of central tendency?

In [ ]:
central tendency:
    -mean
    -mode
    -median

In [11]:
data = [54, 54, 54, 55, 56, 57, 57, 58, 58, 60, 60]
mean = np.mean(data)
median = np.median(data)
mode = stat.mode(data , keepdims=True)
print(mean,median,mode)

56.63636363636363 57.0 ModeResult(mode=array([54]), count=array([3]))

In [ ]:
Q2. What is the difference between the mean, median, and mode? How are they used to measure the
central tendency of a dataset?

In [ ]:
mean = it is an average. it sum all the data and divide by total number of data.
        mean is used for numeric.mean is more sensitive to the outliers
        when we have symmetric distribution then we use mean as central tendency

median = it is a middle value in the data. it divide all the data into the two portion. if we have odd number of data 
         then middle value is our median.
         median is less sensitive then mean to the ourliers.
         it is also used for numeric value.
         we use median as central tendency when we don't have symmetric distribution.
        
mode = it show the frequancy of data point in data.
        mode is used for both numeric as well as catogorical data.

In [12]:
data = [54, 54, 54, 55, 56, 57, 57, 58, 58, 60, 60]
mean = np.mean(data)
median = np.median(data)
mode = stat.mode(data , keepdims=True)
print(mean,median,mode)

56.63636363636363 57.0 ModeResult(mode=array([54]), count=array([3]))

In [ ]:
Q3. Measure the three measures of central tendency for the given height data:

 [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [72]:
data =[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
mean = np.mean(data)
median = np.median(data)
mode = stat.mode(data , keepdims=True)
print(mean,"\n",median,"\n",mode[0])

177.01875
 177.0
 [177.]

In [ ]:
Q4. Find the standard deviation for the given data:

[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [3]:
data = [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
std = np.std(data)
print(std)

1.7885814036548633

In [ ]:
Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe
the spread of a dataset? Provide an example.

In [4]:
data

[178,
 177,
 176,
 177,
 178.2,
 178,
 175,
 179,
 180,
 175,
 178.9,
 176.2,
 177,
 172.5,
 178,
 176.5]

In [6]:
variance = np.var(data)
std = np.std(data)
ran = np.max(data) - np.min(data)

print(variance,std,ran)

mean = np.mean(data)
print(mean)

3.199023437500001 1.7885814036548633 7.5
177.01875

In [ ]:
by this we can say that our data range is 7.5
means if we see   177-3.  = 174
and               177+3   = 180
it is nothing but mean + - variance 

so by using this we can find how data is spread.
in which range data is spread.

In [ ]:
Q6. What is a Venn diagram?

In [ ]:
A Venn diagram is a widely used diagram style that shows the logical relation between sets.
A Venn diagram uses simple closed curves drawn on a plane to represent sets. Very often, these curves are circles or ellipses.

In [ ]:
Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:

(i) A and B

(ii)A â‹ƒ B

In [8]:
A = (2,3,4,5,6,7)
B = (0,2,6,8,10)
a = set(A) 
b = set(B)

a_or_b = a.union(b)
a_and_b = a.intersection(b)

print(a_or_b,a_and_b)

{0, 2, 3, 4, 5, 6, 7, 8, 10} {2, 6}

In [ ]:
Q8. What do you understand about skewness in data?

In [ ]:
skewness is a measure of the asymmetry of the probability distribution of a real-valued random variable about its mean.
zero ,positive and negative skew distribution.

zero skew distribution:
    when left part and right part of data are the same or mirror image.we can say it is a symmetric distribution.
    in zero skew distribution : mean=mode=median
positive skew distribution:
    when pick is on left side and most of data are right side then we can say it is a right skeww distribution or positive skew
    when it happend :
        mode<median<mean
negative skew distribution:
    when pick is on right side and most of the data are on left side then we can say it is a left skew or negative skew data.
    when it happend :
        mean>median>mode

In [ ]:
Q9. If a data is right skewed then what will be the position of median with respect to mean?

right skewned dataa :   mode<median<mean.

y
-
-
-
-   
-
--------mode--median--mean----------------->x    
median is less then mean and it is left side of mean.

In [ ]:
Q10. Explain the difference between covariance and correlation. How are these measures used in
statistical analysis?

In [ ]:
covariance say how two variable are different. covariance have value between +infi to -infi
here if the value is positive means both variable are positively related
else we can say two variable is not related 
in covariance we can not say how closly they are related. means if we have 100 and 10 so on the basis of value we can not say 
100 value variable are more related then 10 values variable

correlation says how two variable are related.it value is alwasy between -1 to 1.
here we can say if the value is more towords to 1 then they are more related.
if the value is more towords to -1 we can say they are more not related to each other.

both technique are used for to cheack two variable is related or not. if we change in one variable then how it affect to 
other variable.

In [34]:
# like we have to variable 
#  suppose x is age 
x=[18,20,25,28,30,35,40,45]
# suppose y is salary in lac
y=[2,3,4,6,7,8,9,10]

df = pd.DataFrame({"age":x,"salary":y})
df

   age  salary
0   18       2
1   20       3
2   25       4
3   28       6
4   30       7
5   35       8
6   40       9
7   45      10

In [36]:
df.cov()

              age     salary
age     88.982143  26.839286
salary  26.839286   8.410714

In [37]:
df.corr(method="pearson")

             age    salary
age     1.000000  0.981077
salary  0.981077  1.000000

In [40]:
df.corr(method="spearman")

        age  salary
age     1.0     1.0
salary  1.0     1.0

In [ ]:
Q11. What is the formula for calculating the sample mean? Provide an example calculation for a
dataset.

_
x = (0 to n sum(xi))/n

<!-- n is a total sample number -->

In [27]:
data = [1,2,3,4,5,6,7,8]

meann = sum(data)/len(data)
meann

4.5

In [ ]:
Q12. For a normal distribution data what is the relationship between its measure of central tendency?

In [ ]:
for normal distribution  : mean=median=mode

In [ ]:
Q13. How is covariance different from correlation?

In [ ]:
covariance say how two variable are different. covariance have value between +infi to -infi
here if the value is positive means both variable are positively related
else we can say two variable is not related 
in covariance we can not say how closly they are related. means if we have 100 and 10 so on the basis of value we can not say 
100 value variable are more related then 10 values variable

correlation says how two variable are related.it value is alwasy between -1 to 1.
here we can say if the value is more towords to 1 then they are more related.
if the value is more towords to -1 we can say they are more not related to each other.

both technique are used for to cheack two variable is related or not. if we change in one variable then how it affect to 
other variable.

In [ ]:
Q14. How do outliers affect measures of central tendency and dispersion? Provide an example

In [55]:
# ex

# 100 is outliers

data = [1,2,3,4,5,6,100]
m=np.mean(data)

In [56]:
o=np.median(data)

In [57]:
np.var(data)

1142.7755102040817

In [58]:
np.std(data)

33.804962804358794

In [59]:
m

17.285714285714285

In [60]:
o

4.0

In [61]:
m-o

13.285714285714285

In [62]:
data = [1,2,3,4,5,6,2]
m=np.mean(data)

In [63]:
o=np.median(data)

In [64]:
np.var(data)

2.775510204081633

In [65]:
np.std(data)

1.665986255670086

In [66]:
m

3.2857142857142856

In [67]:
o

3.0

In [52]:
# so we can see that how mean,variance,and standard deviation is change and slitly median is changed.
# we can also see outliers most affect to the mean and less affect to the median.

In [68]:
# so it is requered to find out the outliers and handle those outliers